html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color:#f8f8ff;
    background-color: #013369;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.title{
    /* Convierte el texto en mayusculas */
    text-transform: uppercase;
    
    /* Centrar texto */
    text-align: center;
}

.container{
    /* Uso de flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    /**
     * This CSS code sets the maximum width and height of an element to 950px and 800px respectively.
     * It also sets the width and height of the element to 100% of its parent container.
     */
    max-width: 950px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    
    /* Centrar tabla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

table tr td a{
    text-decoration: none;
    color: black;
}

table tr td a img{
    width: 30px;
    height: 20px;
}

.table{
    width: 100%;
    border-spacing: 0px;
    color: black;
    background-color: #f8f8ff;
    border-radius: 10px;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){
    background-color: #B8E1FF;
}

/* Centrar el logo*/
.logo{
    display: flex;
    justify-content: center;
}

p{
    text-align: justify;
}

.icon-home a{
    text-decoration: none;
}

.icon-home i{
    color: #f8f8ff;
    position: relative;
    padding: 20px;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: end;
}

.img-stadium{
    width: 100%;
    height: 50%;

    padding-bottom: 40px;
}

h2{
    text-align: center;
    font-size: 40px;
}

.text{
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #f8f8ff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 0 20px;
}

.container-r{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content-r{
    color: black;
}

.content-r p, .content-r p a{
    text-decoration: none;
    color: #f8f8ff;
}

.container-draft{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.content-draft{
    max-width: 950px;
    max-height: 800px;
    width: 100%;
    height: 100%;

    background-color: #f8f8ff;
    color: black;
    border-radius: 10px;
}

.time {
    display: flex;
    justify-content: space-around;
}

.time-number{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.time-number p, #days, #hours, #minutes, #seconds{
    font-size: 40px;
}

.days, .hours, .minutes, .seconds{
    padding: 20px;
    
    text-align: center;
}

.days h3, .hours h3, .minutes h3, .seconds h3{  
    margin: 0;
    margin-bottom: 10px;
}

/* CALENDAR */

.container-acordeon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-acordeon{
    max-width: 450px;
    max-height: auto;
    width: 30%;
    height: 30%;

    background-color: #f8f8ff;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.container-week{
    padding: 10px;
    margin-bottom: 10px;
}

.label{
    display: flex;
    align-items: center;
}

.container-week:hover{
    background-color: #dddddd;
    border-radius: 10px;
}

.expand-more{
    cursor: pointer;
    margin-left: auto;
}

.expand-more:hover{
    color: red;
    /* Animación para el giro */
    transition: transform 0.5s ease;
}

.juegos{
    margin: 0;
    padding: 0;
    
    position: relative;
    height: 0;
    overflow: hidden;
    /* Transición al ocultar */
    transition: all 0.8s ease;
}

.juegos li{
    list-style: none;
    padding: 10px;
    text-align: center;
}

.activo{
    border-radius: 10px;
    background-color: #dddddd;
}

.activo .juegos{
    height: 835px;
    overflow: none;
    /* Transición al mostrar */
    transition: all 0.8s ease; 
    /* La transición solo aplica si height no es auto */
}

.activo .expand-more{
    color: red;
    /* Giro de 180 grados */
    transform: rotate(180deg);
}

.juegos p{
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.team-matchup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-team{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}